@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&family=Lexend+Deca&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(255, 240, 217);
  color: rgb(82, 82, 82);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  overflow-x: hidden;
}
.header {
  height: 20vh;
}
.header,
.footer {
  background-color: rgb(207, 207, 207);
  box-shadow: 10px 10px 100px rgb(158, 158, 158);
  width: 100vw;
  text-align: center;
}
.header__title {
  word-spacing: 15px;
  letter-spacing: 5px;
  font-size: 50px;
}
.main {
  margin-top: 20px;
  margin-bottom: 30px;
}
.cards {
  display: grid;
  color: white;
  grid-template-columns: repeat(auto-fit, minmax(400px, 450px));  grid-auto-columns: 400px;
  grid-auto-rows: 300px;
  gap: 40px;
}
.card {
  border-radius: 15px;
  padding: 30px;
  position: relative;
  overflow: hidden;
}
.card img {
  position: absolute;
  bottom: -20px;
  right: -70px;
  width: 230px;
}

.card-1 {
  background-color: #70a1d8;
}

.card-2 {
  background-color: #b3e287;
}
.card-3 {
  background-color: #f08989;
}
.card__title {
  width: 150px;
  font-size: 25px;
}
.card__text {
  width: 250px;
  line-height: 28px;
  font-weight: 100;
}
.card__cta {
  background: white;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 6px;
}
.card__cta--blue {
  color: #70a1d8;
}
.card__cta--green {
  color: #b3e287;
}
.card__cta--red {
  color: #f08989;
}

.footer {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
